obj/Debug/net472/HUDIconToggle.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net472/HUDIconToggle.assets.cache
obj/Debug/net472/HUDIconToggle.AssemblyInfoInputs.cache
obj/Debug/net472/HUDIconToggle.AssemblyInfo.cs
/obj/Debug/net472
/obj
/obj
